.body {
  grid-area: 2/2 / span 2 / span 2;
  width: 100%;
  display: grid;
  grid-template-columns: 85% 15%;
  align-content: start;
}
.table {
  position: relative;
  border-collapse: collapse;
  width: 100%;
  margin: 0.5rem;
  font-size: 1.1rem;
}
.link {
  margin: 0.5rem 2rem;
  width: 30px;
  padding: 0.5rem;
  height: 2rem;
  line-height: 2rem;
  background-color: rgb(46, 126, 201);
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  color: white;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

.header {
  height: 3rem;
  color: white;
  background-color: rgb(46, 126, 201);
  border: 1px solid rgb(46, 126, 201);
}
.th1 {
  width: 40%;
}

.rows {
  height: 2rem;
  font-weight: bold;
  background-color: rgba(40, 115, 185, 0.1);
}
.rows td {
  padding: 0.5rem;
  border: 1px solid rgb(46, 126, 201);
}
.rows:nth-child(odd) {
  background-color: rgb(46, 126, 201, 0.3);
}
.rows:hover {
  background-color: rgba(46, 126, 201, 0.7);
}

.body p {
  margin: 0.5rem auto;
  width: 30%;
  text-align: center;
  line-height: 2rem;
  background-color: rgb(46, 126, 201);
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.25);
  color: white;
  font-weight: bold;
}

.link:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(46, 126, 201);
}

.link:active {
  cursor: pointer;
  background-color: rgb(46, 126, 201);
  color: white;
}
