.form button {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: rgb(46, 126, 201, 0.9);
  margin: 0.25rem 0 0.25rem 0.5rem;
}

.form button:hover {
  cursor: pointer;
  color: rgb(46, 126, 201, 0.9);
  background-color: white;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.25);
}
