.button {
    margin: auto 0.5rem;
    width: 40%;
    display: inline;
    background-color: rgb(46, 126, 201, 0.9);
    border: none;
    font-weight: bold;
    color: white;
}

.button:hover {
    cursor: pointer;
    background-color: white;
    color: rgb(46, 126, 201, 0.9);
}
.button:active {
    cursor: pointer;
    background-color: rgb(46, 126, 201, 0.9);
    color: rgb(255, 255, 255);
}
@media(max-width:750px) {
    .button {
        display: block;
        width: 100%;
        margin: 0.1rem auto;
    }
    
}