.header {
    display: grid;
    position: relative;
    grid-template-columns: 150px auto 150px 150px;
    align-content: center; 
    width: 100%;
    height: 5rem;
    background-color: rgb(46, 126, 201);
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.25);
  }
  
  .header img {
    grid-column: 1/span 1;
    margin: 14px;
    width: 60px;
    height: auto;
  }
  
  .header h1 {
    grid-column: 2/span 1;
    color: rgb(255, 255, 255);
  }
  
  .header button {
    float: right;
    padding: 0.5rem;
    margin: 1rem;
    background-color: rgb(46, 126, 201);
    border: none;
    font-weight: bold;
    color: white;
    font-size: large;
  }
  .header button:hover {
    background-color: white;
    color: rgb(46, 126, 201);
  }
  