.menu {
  width: 100%;
  height: 100vh;
  background-color: rgb(46, 126, 201, 0.9);
  grid-area: 2/1 / span 1 / span 1;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.25);
}
.menu a {
  margin: 0 auto;
  display: block;
  width: 50%;
  padding: 1rem;
  position: relative;
  border: none;
  background-color: rgba(46, 126, 201, 0);
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
  text-align: center;
  text-decoration: none;
}
.menu a:hover,
.menu a:active,
.menu a.active {
  background-color: rgb(255, 255, 255);
  color: rgb(46, 126, 201, 0.9);
  cursor: pointer;
}
