.dropdown-enter-active {
    animation: openModal 300ms ease-out forwards;
  }
  
  .dropdown-exit-active {
    animation: closeModal 300ms ease-out forwards;
  }
  
  @keyframes openModal {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes closeModal {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      opacity: 0;
    }
  }