.users {
  grid-area: 2/2 / span 1 / span 1;
  width: 50%;
  margin: 0 auto;
  color: white;
  font-weight: bold;
}
.mainContainer {
  display: grid;
  grid-template-columns: 85% 15%;
}

.users ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listContainer {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto auto auto auto;
  padding: 1rem;
  margin: 0.5rem 1rem;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.25);
  border-radius: 0.75rem;
  background-color: rgb(46, 126, 201);
}
.listContainer1 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto auto auto auto;
  padding: 1rem;
  margin: 0.5rem 1rem;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.25);
  border-radius: 0.75rem;
  background-color: rgb(46, 126, 201);
}
.users h1 {
  margin: 0.5rem 0;
  grid-area: 1/1 / span 3 / span 1;
  font-size: 1.5rem;
}
.users h2 {
  margin: 0.5rem 0 0.5rem 1rem;
  grid-area: 4/1 / span 3 / span 1;
  font-size: 1.25rem;
}

.p1 {
  text-align: right;
  grid-area: 1/2 / span 2 / span 1;
}
.p2 {
  text-align: right;
  grid-area: 3/2 / span 2 / span 1;
}
.p3 {
  text-align: right;
  grid-area: 5/2 / span 2 / span 1;
}
.listContainer:hover {
  cursor: pointer;
  color: rgb(46, 126, 201);
  background-color: white;
}

