.container {
  color: rgb(46, 126, 201);
  margin: 15% 45%;
  width: 30%;
}
.container h1 {
  margin: 5px auto;
  text-align: center;
}
.form label {
  font-weight: bold;
  font-size: 1.2rem;
  display: inline;
}
.form span {
  color: red;
  display: none;
  font-weight: bold;
}
.form input {
  width: 100%;
  height: 1.2rem;
  display: block;
  background-color: rgba(46, 126, 201, 0.3);
  border-radius: 3px;
  border: 1px solid rgb(46, 126, 201, 0.9);
  margin: 0.25rem 0;
}
.form button {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: rgba(46, 126, 201);
  margin: 0.5rem 0.75rem 0 0rem;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.25);
}
.form input:focus {
  height: 1.2rem;
  border: none;
  background-color: white;
}
.form button:hover {
  cursor: pointer;
  color: rgba(46, 126, 201);
  background-color: white;
}
.form button:active {
  cursor: pointer;
  color: white;
  background-color: rgba(46, 126, 201);
}
.form.invalid input {
  background-color: rgba(255, 0, 0, 0.4);
  border: 1px solid rgb(255, 0, 0);
}
.form.invalid label {
  color: red;
}
.form.form.invalid span {
  display: inline;
}
@media (max-width: 750px) {
  .container{
    margin: 1.5rem auto;
    width: 90%;
  }
  .form input {
    width: 100%;
  }
}