.button {
  margin: 0.5rem 0;
  grid-column: 2 / span 1;
  background-color: rgb(46, 126, 201);
  border: none;
  border-radius: 0.75rem;
  font-weight: bold;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.25);
  color: white;
}

.button:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(46, 126, 201);
}
